.contact {
    background: #252e30;
    border-bottom: 1px solid #252e30;

    &__text,
    &__input {
        @media ( min-width: 992px) {
            display: inline-block;
            width: 45%;
        }
    }

    &__text {
        float: left;
        @media ( min-width: 992px) {
            margin-right: 70px;
        }
        &-color {
            color: #ffffff;
            margin-right: 50px;
        }
        &-item {
            margin: 7px 0;
            color: #919191;
            font: {
                family: RobotoRegular;
                size: 16px;
            }
        }
        &-inform {
            padding: 40px 0;
        }
    }
    &__input {
        padding: 110px 0 60px;

        &-a {
            color: #ffffff;
            background-color: #191f21;
            @extend %a;
            transition-duration: 1s;
            &:hover {
                background-color: #2ecc71;
                color: #252e30;
                box-shadow: 5px 5px 5px 5px;
            }
        }
        &-href {
            padding: 30px 0 10px;
        }
        &-height {
            width: 100%;
            height: 200px;
            padding: 20px 10px;
            margin-bottom: 25px;
        }
    }
}
input {
    height: 50px;
} 
input, textarea {
    width: 100%;
    background: #4b5456;
    border: 1px solid #252e30;
    text-decoration: none;
    outline: none;
    color: #2ecc71;
    padding-left: 10px;
    cursor: pointer;

    &:hover {
        padding-left: 10px;
        color: #2ecc71;
        background-color: #fff;
        border: 1px solid #2ecc71;
    }
    &:focus {
        color: #2ecc71;
        border: 1px solid #2ecc71;
    }
}
textarea {
    resize: none;
}
label {
    color: #ffffff;
    margin: 33px 0 15px;
    display: block;
    cursor: pointer;
}