.experience {
    border-bottom: 1px solid #cccccc;
    &:last-child {
       border-bottom: none;
    }

    &__content,
    &__content-item {
        @media (min-width: 992px) {
            display: inline-block;
            width: 45%;
        }
    }
    &__content {
        @media (min-width: 992px) {
            float: left;
        }
        &-text {
            display: table;
            color: white;
            background-color: #2ecc71;
            padding: 14px;
            margin-bottom: 30px;
            transition-duration: 1s;
            cursor: pointer;
            &:hover {
                box-shadow: 3px 3px 5px #2ecc71;
            }
        }
        &-item {
            @media (min-width: 768px) {
                margin: 40px 0 60px 0;
            }
            @media (min-width: 992px) {
                margin: 155px 0 60px 25px;
            }
        }
        &-border {
            border-top: 1px solid #cccccc;
            border-bottom: 1px solid #cccccc;
        }
    }
}