* {
    box-sizing: border-box;
}
a {
    text-decoration: none;
}
body {
    margin: 0;
}
.container {
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;

    @media (min-width: 414px) {
        max-width: 390px;
    }
    @media (min-width: 768px) {
        max-width: 720px;
    }
    @media (min-width: 992px) {
        max-width: 960px;
    }
    @media (min-width: 1200px) {
        max-width: 1170px;
    } 
}
h1 {
    display: inline;
    color: $white;
    text-transform: uppercase;
    font-size: 18px;
    line-height: 300px;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    margin: 15%;
    
    @media (min-width: 414px) {
        font-size: 21px;
        line-height: 350px;
        margin: 14%;
    }
    @media (min-width: 768px) {
        font-size: 27px;
        line-height: 480px;
        margin: 25%;
    }
    @media (min-width: 992px) {
        font-size: 35px;
        line-height: 700px;
    }
    @media (min-width: 1200px) {
        font-size: 47px;
        margin: 22%;
        line-height: 750px;
    }
}
.page {
    height: 300px;
    background: {
        image: url(../img/img.png);
        size: cover;
        repeat: no-repeat;
    }

    @media (min-width: 414px) {
        height: 350px;
    }
    @media (min-width: 768px) {
        height: 480px;
    }
    @media (min-width: 992px) {
        height: 700px;
    }
    @media (min-width: 1200px) {
        height: 750px;
    } 

    &-a {
        text-align: center;
        margin: -125px 0px 5px;

        @media (min-width: 414px) {
            margin: -145px 0;
        }
        @media (min-width: 768px) {
            margin: -200px 0 7%;
        }
        @media (min-width: 992px) {
            margin: -295px 0 10%;
        }
        @media (min-width: 1200px) {
            margin: -315px 0 12%;
        } 
    }

    &-item {
        display: none;

        @media (min-width: 1200px) {
            display: block;
            color: $white;
            text-align: right;
            margin-right: 13%;
            margin-top: -9px;
            font-size: 20px;
        }
    }
}
.a {
    @extend %a;
    color: $white;
    &:hover {
        background-color: #2ecc71;
        color: #252e30;
        box-shadow: 5px 5px 5px;
    }
}