.portfolio {
    text-align: center;
    margin-top: -10px;

    &__content {
        @media ( min-width: 992px) {
            padding: 30px 0 50px;
        }
    }
    &-img {
        width: 85%;
        padding: 15px;
        @media ( min-width: 992px) {
            width: 300px;
        }
        @media ( min-width: 1200px) {
            width: 369px;
        }
    }
}