.skills {
    margin-top: -125px;

    @media (min-width: 992px) {
        margin-top: 0;
    }
    &-a {
        color: #2ecc71;
        @extend %a;
        transition-duration: 1s;
        &:hover {
            background-color: #2ecc71;
            color: #252e30;
            box-shadow: 5px 5px 5px 5px;
        }
    }
    &-ahref {
        padding: 10px 0 30px;
    }
    &__text,
    &__progress {
        @media (min-width: 992px) {
        display: inline-block;
        width: 43%;
        }
    }
    &__text {
        float: left;

        @media (min-width: 992px) {
            margin: -30px 50px;
        }
    }
    &__progress {
        margin: 95px 0 60px;
        &-content {
        width: 325px;
        height: 30px;
        background: #f2f2f1;

            @media (min-width: 414px) {
                width: 340px;
            }
            @media (min-width: 768px) {
                width: 670px;
            }
            @media (min-width: 992px) {
                width: 390px;
            }
            @media (min-width: 1200px) {
                width: 440px;
            }
        }

        &-filled {
            &-one {
            width: 90%;
            @extend %progress
            }
            &-two {
                width: 80%;
                @extend %progress
            }
            &-three {
                width: 70%;
                @extend %progress
            }
        }
    }
}
h3 {
    color: #566366;
    text-transform: uppercase;
    font: {
        size: 22px;
        family: RobotoBold;
    }
}