.header__content, .header__menu-Item {
  font-family: RobotoBold;
  font-size: 16px; }
  .header__content:hover, .header__menu-Item:hover {
    color: #2ca260;
    cursor: pointer; }

.a, .skills-a, .contact__input-a {
  display: inline-block;
  border: 1px solid;
  padding: 8px 10px;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 18px;
  font-family: RobotoBold; }
  @media (min-width: 414px) {
    .a, .skills-a, .contact__input-a {
      padding: 10px 16px; } }
  @media (min-width: 768px) {
    .a, .skills-a, .contact__input-a {
      padding: 14px 33px; } }
  @media (min-width: 992px) {
    .a, .skills-a, .contact__input-a {
      padding: 17px 40px; } }
  @media (min-width: 1920px) {
    .a, .skills-a, .contact__input-a {
      padding: 20px 50px;
      font-size: 23px; } }

.skills__progress-filled-one, .skills__progress-filled-two, .skills__progress-filled-three {
  height: 30px;
  color: #ffffff;
  background: #2ecc71;
  text-align: right;
  padding-right: 15px;
  line-height: 30px;
  font-size: 18px;
  font-family: RobotoBold; }

* {
  box-sizing: border-box; }

a,
input {
  color: white;
  text-decoration: none; }

body {
  margin: 0; }

.container {
  width: 100%;
  padding: 0 15px;
  margin: 0 auto; }
  @media (min-width: 414px) {
    .container {
      max-width: 390px; } }
  @media (min-width: 768px) {
    .container {
      max-width: 720px; } }
  @media (min-width: 992px) {
    .container {
      max-width: 960px; } }
  @media (min-width: 1200px) {
    .container {
      max-width: 1150px; } }

h1 {
  display: inline;
  color: #ffffff;
  text-transform: uppercase;
  font-size: 18px;
  line-height: 300px;
  border-top: 2px solid white;
  border-bottom: 2px solid white; }
  @media (min-width: 414px) {
    h1 {
      font-size: 21px;
      line-height: 350px; } }
  @media (min-width: 768px) {
    h1 {
      font-size: 27px;
      line-height: 480px; } }
  @media (min-width: 992px) {
    h1 {
      font-size: 35px;
      line-height: 700px; } }
  @media (min-width: 1200px) {
    h1 {
      font-size: 47px;
      line-height: 790px; } }
  @media (min-width: 1440px) {
    h1 {
      line-height: 900px;
      font-size: 54px; } }
  @media (min-width: 1920px) {
    h1 {
      line-height: 1200px;
      font-size: 70px; } }

.page {
  text-align: center;
  height: 300px;
  background-image: url(../img/img.png);
  background-size: cover;
  background-repeat: no-repeat; }
  @media (min-width: 414px) {
    .page {
      height: 350px; } }
  @media (min-width: 768px) {
    .page {
      height: 480px; } }
  @media (min-width: 992px) {
    .page {
      height: 700px; } }
  @media (min-width: 1200px) {
    .page {
      height: 750px; } }
  @media (min-width: 1440px) {
    .page {
      height: 900px; } }
  @media (min-width: 1920px) {
    .page {
      height: 1200px; } }
  .page-a {
    margin: -125px 0px 5px; }
    @media (min-width: 414px) {
      .page-a {
        margin: -145px 0; } }
    @media (min-width: 768px) {
      .page-a {
        margin: -200px 0 7%; } }
    @media (min-width: 992px) {
      .page-a {
        margin: -295px 0 10%; } }
    @media (min-width: 1200px) {
      .page-a {
        margin: -315px 0 12%; } }
    @media (min-width: 1440px) {
      .page-a {
        margin: -340px 0 13%; } }
    @media (min-width: 1920px) {
      .page-a {
        margin: -450px 0 14%; } }
  .page-item {
    display: none; }
    @media (min-width: 1200px) {
      .page-item {
        display: block;
        color: #ffffff;
        text-align: right;
        margin-right: 13%;
        margin-top: -9px;
        font-size: 20px; } }
    @media (min-width: 1440px) {
      .page-item {
        font-size: 25px; } }
    @media (min-width: 1920px) {
      .page-item {
        font-size: 28px; } }

.a {
  color: #ffffff;
  transition-duration: 3s; }
  .a:hover {
    background-color: #2ecc71;
    color: #252e30;
    box-shadow: 5px 5px 5px 5px; }

header,
.header {
  background-color: #252e30;
  position: sticky;
  top: 0; }

.header {
  color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  height: 70px;
  text-transform: uppercase; }
  @media (min-width: 768px) {
    .header {
      height: 79px; } }
  .header__logo {
    display: flex;
    align-items: baseline; }
    .header__logo-sing {
      background-color: #4b5456;
      padding: 4px 10px;
      margin: 15px 25px;
      font-family: RobotoBold;
      font-size: 20px; }
      @media (min-width: 768px) {
        .header__logo-sing {
          padding: 5px 12px;
          font-size: 30px; } }
    .header__logoItem {
      display: inline-block;
      font-family: RobotoBold;
      font-size: 25px; }
      @media (min-width: 992px) {
        .header__logoItem {
          font-size: 30px; } }
      .header__logoItem-color {
        color: #2ecc71; }
  .header__content {
    margin-right: 10px; }
  .header__menu {
    position: relative; }
    .header__menu:hover > .header__menu-nav {
      visibility: visible;
      opacity: 1;
      cursor: pointer; }
    .header__menu-nav {
      width: 155px;
      display: flex;
      flex-direction: column;
      position: absolute;
      right: -15px;
      top: 30px;
      background-color: #252e30;
      transition: .3s;
      opacity: 0;
      visibility: hidden;
      cursor: pointer; }
      @media (min-width: 414px) {
        .header__menu-nav {
          right: -26px; } }
      @media (min-width: 768px) {
        .header__menu-nav {
          right: -38px; } }
    .header__menu-Item {
      margin: 15px; }
    @media (min-width: 992px) {
      .header__menu {
        display: none; } }
  .header__navigation {
    display: none; }
    @media (min-width: 992px) {
      .header__navigation {
        display: block; } }

.fas {
  margin-right: 40px; }
  @media (min-width: 414px) {
    .fas {
      margin-right: 30px; } }
  @media (min-width: 768px) {
    .fas {
      margin-right: 18px; } }

.interest {
  text-align: center; }
  .interest__title {
    display: inline-block;
    text-align: left;
    margin: 30px 10px;
    background-color: #ffffff; }
    @media (min-width: 768px) {
      .interest__title {
        margin: 30px 25px; } }
    @media (min-width: 992px) {
      .interest__title {
        width: 255px;
        margin: 70px 25px; } }
    @media (min-width: 1200px) {
      .interest__title {
        width: 300px;
        margin: 80px 25px; } }
    .interest__title-item {
      color: #566366;
      margin-bottom: 15px;
      font-family: RobotoBolt;
      font-weight: 600;
      font-size: 25px;
      text-transform: uppercase;
      text-align: center; }
      @media (min-width: 768px) {
        .interest__title-item {
          font-size: 30px;
          margin-bottom: 20px; } }
      @media (min-width: 992px) {
        .interest__title-item {
          display: inline-block; } }
    .interest__title-context {
      color: #b6b6b6;
      font-family: RobotoRegular;
      font-size: 18px; }

.clearfix::after {
  content: "";
  display: block;
  clear: both; }

.feature {
  background-color: #f2f2f1;
  color: #566366; }
  .feature__img {
    width: 360px;
    display: block;
    margin: 0 auto; }
    @media (min-width: 414px) {
      .feature__img {
        width: 414px; } }
    @media (min-width: 768px) {
      .feature__img {
        float: left;
        margin: 0 60px 30px 0; } }
    @media (min-width: 992px) {
      .feature__img {
        height: 720px; } }
    @media (min-width: 994px) {
      .feature__img {
        height: 700px; } }
    @media (min-width: 1024px) {
      .feature__img {
        height: 670px; } }
    @media (min-width: 1200px) {
      .feature__img {
        height: 600px;
        width: 490px;
        margin-bottom: 0px; } }
    @media (min-width: 1440px) {
      .feature__img {
        height: 560px; } }
  .feature-img {
    float: left;
    padding-right: 22px;
    margin-left: 15px; }
  .feature__text, .feature__textitem {
    color: #919191;
    font-family: RobotoRegular;
    font-size: 16px; }
  .feature__text {
    padding-left: 80px; }
    .feature__textitem {
      margin: 30px 0; }
  .feature__title {
    display: inline-block;
    width: 300px;
    vertical-align: top;
    margin: 35px 0; }
    @media (min-width: 992px) {
      .feature__title {
        width: 235px; } }
    @media (min-width: 1200px) {
      .feature__title {
        width: 295px;
        margin-top: 0; } }
    @media (min-width: 1440px) {
      .feature__title {
        width: 330px;
        margin: 23px 0; } }
    @media (min-width: 1920px) {
      .feature__title {
        margin: 29px 0; } }
    .feature__title-name {
      margin-bottom: 15px;
      font-family: RobotoBold;
      font-size: 22px; }
    @media (min-width: 858px) {
      .feature__title-margin {
        margin-top: 200px; } }
    @media (min-width: 992px) {
      .feature__title-margin {
        margin-top: 0; } }

h2 {
  padding: 70px 0px 10px;
  color: #566366;
  text-transform: uppercase;
  font-family: RobotoBold;
  font-size: 30px; }

.skills {
  margin-top: -125px; }
  @media (min-width: 992px) {
    .skills {
      margin-top: 0; } }
  .skills-a {
    color: #2ecc71;
    transition-duration: 3s; }
    .skills-a:hover {
      background-color: #2ecc71;
      color: #252e30;
      box-shadow: 5px 5px 5px 5px; }
  .skills-ahref {
    padding: 30px 0; }
  @media (min-width: 992px) {
    .skills__text, .skills__progress {
      display: inline-block;
      width: 43%; } }
  .skills__text {
    float: left; }
    @media (min-width: 992px) {
      .skills__text {
        margin: 0 50px; } }
  .skills__progress {
    margin: 125px 0; }
    .skills__progress-content {
      width: 325px;
      height: 30px;
      background: #f2f2f1; }
      @media (min-width: 414px) {
        .skills__progress-content {
          width: 340px; } }
      @media (min-width: 768px) {
        .skills__progress-content {
          width: 670px; } }
      @media (min-width: 992px) {
        .skills__progress-content {
          width: 390px; } }
      @media (min-width: 1200px) {
        .skills__progress-content {
          width: 440px; } }
    .skills__progress-filled-one {
      width: 90%; }
    .skills__progress-filled-two {
      width: 80%; }
    .skills__progress-filled-three {
      width: 70%; }

h3 {
  color: #566366;
  text-transform: uppercase;
  font-size: 22px;
  font-family: RobotoBold; }

.Resume {
  text-align: center;
  background-color: #f2f2f1;
  position: relative; }
  .Resume:after {
    content: "";
    border-left: 30px solid transparent;
    border-right: 30px solid transparent;
    border-top: 20px solid #f2f2f1;
    position: absolute;
    left: 50%;
    transform: translateX(-50%); }
  @media (min-width: 992px) {
    .Resume__text {
      padding: 20px; } }
  .Resume__text-a {
    padding-bottom: 90px; }

.experience {
  border-bottom: 1px solid #cccccc; }
  .experience:last-child {
    border-bottom: none; }
  @media (min-width: 992px) {
    .experience__content, .experience__content-item {
      display: inline-block;
      width: 45%; } }
  @media (min-width: 992px) {
    .experience__content {
      float: left; } }
  .experience__content-text {
    display: table;
    color: white;
    background-color: #2ecc71;
    padding: 14px;
    margin-bottom: 30px;
    transition-duration: 1s;
    cursor: pointer; }
    .experience__content-text:hover {
      box-shadow: 3px 3px 5px #2ecc71; }
  @media (min-width: 992px) {
    .experience__content-item {
      margin: 155px 0 100px 25px; } }
  .experience__content-border {
    border-top: 1px solid #cccccc;
    border-bottom: 1px solid #cccccc; }

.stone {
  text-align: center;
  padding-top: 60px; }
  .stone__text {
    color: #a4a4a4;
    padding-bottom: 25px;
    font-style: italic;
    font-family: RobotoRegular;
    font-size: 24px; }

h4 {
  color: #80898b;
  text-transform: uppercase;
  padding-bottom: 10px;
  font-family: RobotoBold;
  font-size: 18px; }

.owl-carousel {
  background-color: #f2f2f1; }
.owl-theme {
  padding-bottom: 100px; }

.portfolio {
  text-align: center; }
  .portfolio__content {
    padding: 60px 0 80px; }
  .portfolio-img {
    width: 85%;
    padding: 15px; }
    @media (min-width: 992px) {
      .portfolio-img {
        width: 300px; } }
    @media (min-width: 1200px) {
      .portfolio-img {
        width: 369px; } }

.contact {
  background: #252e30; }
  @media (min-width: 992px) {
    .contact__text, .contact__input {
      display: inline-block;
      width: 45%; } }
  .contact__text {
    float: left; }
    @media (min-width: 992px) {
      .contact__text {
        margin-right: 70px; } }
    .contact__text-color {
      color: #ffffff;
      margin-right: 50px; }
    .contact__text-item {
      margin: 7px 0;
      color: #919191;
      font-family: RobotoRegular;
      font-size: 16px; }
    .contact__text-inform {
      padding: 40px 0; }
  .contact__input {
    padding: 110px 0 70px; }
    .contact__input-text {
      color: #ffffff;
      margin: 40px 0 20px; }
    .contact__input-a {
      color: #ffffff;
      background-color: #191f21;
      transition-duration: 3s; }
      .contact__input-a:hover {
        background-color: #2ecc71;
        color: #252e30;
        box-shadow: 5px 5px 5px 5px; }
    .contact__input-href {
      padding: 30px 0; }
    .contact__input-height {
      height: 220px;
      margin-bottom: 25px; }

input {
  width: 100%;
  height: 50px;
  background: #4b5456;
  border: none;
  text-decoration: none; }

footer {
  background-color: #191f21;
  color: #444d4f;
  text-align: center;
  padding: 50px 0; }

.footer__text {
  margin-bottom: 30px;
  font-size: 16px;
  font-family: RobotoMedium; }

/*# sourceMappingURL=styles.css.map */
